loguru==0.7.2
langchain==0.3.0
langchain-community==0.3.0
langchain-openai==0.2.0
pydantic-settings==2.5.2
SQLAlchemy==2.0.35
fastapi==0.114.2
pydantic==2.9.2
pypdf==5.0.0
pinecone==5.3.0
langchain-pinecone==0.2.0
psycopg2-binary==2.9.9
alembic==1.13.3
fastapi[standard]
streamlit==1.38.0
streamlit-local-storage==0.0.24
python-dateutil==2.9.0
